# Python
__pycache__/
*.py[cod]
venv/
*.pyc
*.pickle
temp/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Environment variables
.env

# Google OAuth credentials
credentials.json
debug_token.json
token.json

# Logs
*.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store
vision_credentials.json
