# Application dependencies
flask
werkzeug
google-auth-oauthlib
google-auth
google-api-python-client

# GenAI model dependencies
transformers
torch
sentencepiece

# OCR dependencies
pytesseract
pillow
pdf2image
opencv-python
gunicorn
